Code/
Cursor/
Thunar/
VSCodium/
btop/btop.log
composer/
configstore/
dconf/
font-manager/
fontconfig/
github-copilot/
glib-2.0/
go/
ibus/
kde/
micro/buffers/
nwg-look/
obsidian-cli/
procps/
pulse/
qt6ct/
rncbc.org/
session/
spotify/Users/
uwsm/
tmux/plugins/**
xfce4/
google-chrome/
